@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&family=Single+Day&display=swap');


.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(98,98,98,0.7);
}

.popup{
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    border-radius: 5px;
    padding: 20px;
    height: 30vh;
    width: 30vw;
}

.popup-content h3{
    font-size: 15px;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    word-spacing: 2px;
    letter-spacing: 0.5px;
}

.groups-input-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 25px;
    margin: 5%;
}

.data-input-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.data-input-group input{
    color: black;
    height: 34px;
    width: 65%;
    outline: none;
    border: 1.5px solid #979797;
    padding-left: 15px;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 14px;
    border-radius: 15px;
}

.choosecolor{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6%;
}

.popup-group-submit-div{
    display: flex;
    justify-content: flex-end;
}

.popup-group-submit-div button{
    height: 30px;
    width: 100px;
    font-family: 'Roboto',sans-serif;
    color: white;
    background-color: black;
    outline: none;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}