*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    display: flex;
}

.left-container-app{
    width: 25vw;
}

.right-container-app{
    background-color: #F7ECDC;
    width: 75vw;
}